---
import Layout from '@layouts/Layout.astro'
import Header from 'src/modules/Header.astro'
import Hero from 'src/modules/Hero.astro'
import Product from 'src/modules/Product.astro'
import Features from 'src/modules/Features.astro'
import Reviews from '@modules/Reviews.astro'
---

<Layout title="EzPark | Reserva tu estacionamiento">
  <Header />
  <main>
    <Hero />
    <Product />
    <Features />
    <Reviews />
  </main>
</Layout>
